* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    color: rgb(150, 30, 0);
    text-decoration: none;
}

/* --- SIDA 1 --- */

#wrapper {
    display: grid;
    grid-template-columns: 615px 500px 615px;
    grid-template-rows: 100px 725px 100px 100px 525px 100px; 
    grid-template-areas: 
        "n1 h1 n2"
        "a1 a1 a1"
        "h2 h2 h2"
        "h3 a4 h4"
        "a2 a4 a3"
        "f1 f1 f2"
    ;
    height: 100vh;
    width: 100vw;
}

#header_surstromming {
    grid-area: h1;
    background-color: rgb(255, 166, 0);
    background-image: url('/img/spansk_surströmming_logo_final.png');
    background-repeat: no-repeat;
    background-position: center;
} 

#nav_s1_hitta_oss {
    grid-area: n1;
    background-color: rgb(255, 166, 0);
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

#hitta_oss_link:hover {
    color: black;
}

#hitta_oss_link:active {
    color: rgb(150, 30, 0);
}


#nav_s1_om_oss  {
    grid-area: n2;
    background-color: rgb(255, 166, 0);
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

#om_oss_link:hover {
    color: black;
}

#om_oss_link:active {
    color: rgb(150, 30, 0);
}

#article_forsta_sidan {
    grid-area: a1;
    background-image: linear-gradient(rgb(200, 30, 0, 0.25),rgba(200, 30, 0, 0.25)),url('/img/surstromming_background_photo.jpg');
    background-size: cover;
    background-position: center;
}

#header_meny {
    grid-area: h2;
    background-color: rgb(255, 166, 0);
    text-align: center;
    padding: 22px;
    font-size: 50px;
    font-weight: bold;
}

#article_lunch_rubrik {
    grid-area: h3;
    background-color: rgb(251, 209, 130);
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-weight: bold;
}

#article_middag_rubrik {
    grid-area: h4;
    background-color: rgb(251, 209, 130);
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-weight: bold;
}

#article_lunch {
    grid-area: a2;
    background-color: rgb(251, 209, 130);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    line-height: 90px;
} 

#lunch_list {
    line-height: 30px;
}

#lunch_list_1 {
    line-height: 30px;
}

#article_middag {
    grid-area: a3;
    background-color: rgb(251, 209, 130);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    line-height: 90px;
}

#middag_list {
    line-height: 30px;
}

#middag_list_1 {
    line-height: 30px;
}

#article_background {
    grid-area: a4;
    background-color: whitesmoke;
    background-position: 64% 50%;
    background-image: linear-gradient(rgb(200, 30, 0, 0.25),rgba(200, 30, 0, 0.25)), url('/img/blue_surströmming_photo.jpg');
}

#footer_kontakt {
    grid-area: f1;
    background-color: rgb(255, 166, 0);
    padding: 10px;
    font-weight: bold;
}

#kontakt_styling {
    list-style-type: none;
    font-weight: 500;
}

#footer_dryck {
    grid-area: f2;
    background-color: rgb(255, 166, 0);
    padding: 10px;
    font-weight: bold;
}

#dryck_styling {
    list-style-type: none;
    font-weight: 500;
}

/* --- SIDA 2 --- */

#wrapper_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 725px;
    grid-template-areas: 
        "arti0 head3 navi3"
        "arti3 ar32 ar32"
    ;
    height: 100vh;
    width: 100vw;
}

#ingenting {
    background-color: rgb(255, 166, 0);
}

#header_s3_hitta_oss {
    grid-area: head3;
    background-color: rgb(255, 166, 0);
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#tillbaka_s3 {
    grid-area: navi3;
    background-color: rgb(255, 166, 0);
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#tillbaka_s3_link:hover {
    color: black;
}

#tillbaka_s3_link:active {
    color: rgb(150, 30, 0);
}

#article_har_ar_vi {
    grid-area: arti3;
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(251, 209, 130);
    padding: 10px;
}

#article_google_maps {
    grid-area: ar32;
    background-color: whitesmoke;
    background-image: linear-gradient(rgb(200, 30, 0, 0.25),rgba(200, 30, 0, 0.25)), url('/img/google_maps_surströmming.JPG');
    background-position: center;
}

#här_är_vi_info {
    font-size: 15px;
    padding: 10px;
    list-style-type: none;
    font-weight: 500;
}

/* --- SIDA 3 --- */

#wrapper_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 725px;
    grid-template-areas: 
        "nav4 hea4 hea02"
        "ar42 ar42 art4"
    ;
    height: 100vh;
    width: 100vw;
}

#ingenting_2 {
    grid-area: hea02;
    background-color: rgb(255, 166, 0);
}

#header_s4_om_oss {
    grid-area: hea4;
    background-color: rgb(255, 166, 0);
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#tillbaka_s4 {
    grid-area: nav4;
    background-color: rgb(255, 166, 0);
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#article_historia_rubrik {
    grid-area: art4;
    background-color: rgb(251, 209, 130);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

#om_oss_info {
    font-size: 15px;
    padding: 10px;
    list-style-type: none;
    font-weight: 500;
}

#article_om_oss_bild {
    grid-area: ar42;
    background-color: whitesmoke;
    background-image: linear-gradient(rgb(200, 30, 0, 0.25),rgba(200, 30, 0, 0.25)),url('/img/surströmming_historia.jpg');
}
